<% include ../partials/header %>




    <div class="below-nav-group-title">
      <%if(foundGroup.owner.toString() == currentUser._id.toString()){%>
        Add/Remove Members in Group: <%=foundGroup.name%>
      <%} else{%>
        Add Members in Group: <%=foundGroup.name%>
      <%}%>

    </div>



    <div class="middle-row-section">

      <div class="left-nav">

      </div>



      <div class="main-section">

        <!-- DISPLAYING ALREADY ADDED MEMBERS OF GROUPS (WITH REMOVE BUTTON) EXCEPT THE CURRENT USER HIMSELF -->
        <%foundGroup.members.forEach(function(Member){%>
            <!-- EXCEPT CURRENT USER -->
            <%if(Member._id.toString() != currentUser._id.toString()){%>
              <div class="main-section-item flex-content-row">
                <%if(foundGroup.owner.toString() == currentUser._id.toString()){%>
                  <%=Member.username %><a href="/<%=currentUser._id%>/my-groups/<%=foundGroup._id%>/remove-member/<%=Member._id%>"> Remove</a>
                <%} else{%>
                  <%=Member.username%> <span>Already Added</span>
                <%}%>

              </div>
            <%}%>

        <%})%>

        <!-- DISPLAYING FRIENDS OF CURRENT USER WHO ARE NOT MEMBERS OF GROUP (WITH ADD BUTTON) -->
        <%foundUser.friends.forEach(function(Friend){%>
            <%var index = -1%>

            <%foundGroup.members.forEach(function(Member){
              if(Friend._id.toString() == Member._id.toString()){
                index = 1
              }
            })%>

            <%if(index == -1){%>
              <div class="main-section-item flex-content-row">
                <%=Friend.username %><a href="/<%=currentUser._id%>/my-groups/<%=foundGroup._id%>/add-member/<%=Friend._id%>"> Add</a>
              </div>
            <%}%>
        <%})%>


        <!-- DISPLAYING ACQUAINTANCES OF CURRENT USER WHO ARE NOT MEMBERS OF GROUP (WITH ADD BUTTON) -->
        <%foundUser.acquaintances.forEach(function(Acquaintance){%>
            <%var index = -1%>

            <%foundGroup.members.forEach(function(Member){
              if(Acquaintance._id.toString() == Member._id.toString()){
                index = 1
              }
            })%>

            <%if(index == -1){%>
              <div class="main-section-item flex-content-row">
                <%=Acquaintance.username %><a href="/<%=currentUser._id%>/my-groups/<%=foundGroup._id%>/add-member/<%=Acquaintance._id%>"> Add</a>
              </div>
            <%}%>
        <%})%>

      </div>



      <div class="right-nav">

      </div>

    </div>

<% include ../partials/footer %>
