<% include ../partials/header %>



    <div class="below-nav-group-title">
      Editing Post
    </div>



    <div class="middle-row-section">

      <div class="left-nav">


      </div>



      <div class="main-section">

        <div class="main-section-item">
          <form action="/<%=currentUser._id%>/post/<%=foundPost._id%>/edit%>" method="post">
            <div class="form-group">
              <label>Edit Post Here ...</label>
              <input type="text" class="form-control" name="post" value="<%=foundPost.post%>">
            </div>

            <div class="main-section-item-post-image main-section-subitem">
              <%foundPost.images.forEach(function(Image, index){%>
                <div class="main-section-item-post-image-subitem">
                  <a href="/<%=currentUser._id%>/post/<%=foundPost._id%>/image/<%=index%>"><img width=500px src="data:image/png;base64,<%=Image['base64']%>"></a>
                </div>
              <%})%>
            </div>

            <div style="text-align:center">
              <button style="background:none;border:none">Edit</button>
            </div>


          </form>
        </div>






      </div>

      <div class="right-nav">

      </div>

    </div>

<% include ../partials/footer %>
