<% include ../partials/header %>




    <div class="below-nav-group-title">
      Sent Requests
    </div>



    <div class="middle-row-section">

      <div class="left-nav">
        <div class="left-nav-item"><a href="/<%=currentUser._id%>/friend-requests">Friend Requests</a></div>

      </div>


      <div class="main-section">

        <%if(foundUser.sent_friend_requests.length > 0){%>

          <div class="main-section-item" style="text-align:center;">
            Sent Friend Requests
          </div>


          <!-- DISPLAYING FRIENDS -->
          <%foundUser.sent_friend_requests.forEach(function(Guest){%>
            <div class="main-section-item flex-content-row">
                <a href="/<%=currentUser._id%>/explore/<%=Guest._id%>"><%=Guest.username%></a>
            </div>
          <%})%>

        <%}%>


        <%if(foundUser.sent_acquaintance_requests.length>0){%>

          <div class="main-section-item" style="text-align:center;">
            Sent Acquaintance Requests
          </div>

           <!--DISPLAYING ACQUAINTANCES -->
          <%foundUser.sent_acquaintance_requests.forEach(function(Guest){%>
            <div style="padding:5px;" class="main-section-item flex-content-row">
              <a href="/<%=currentUser._id%>/explore/<%=Guest._id%>"><%=Guest.username%></a>
            </div>
          <%})%>

        <%}%>






      </div>



      <div class="right-nav">

      </div>

    </div>

<% include ../partials/footer %>
