<% include ../partials/header %>

    <div class="below-nav-group-title">
      You are stalking  <%=foundUser.username%>
    </div>




    <% var FRIEND = -1 %>
    <% var ACQUAINTANCE = -1 %>
    <% var FRIEND_REQUEST = -1 %>
    <% var SENT_FRIEND_REQUEST = -1 %>
    <% var ACQUAINTANCE_REQUEST = -1 %>
    <% var SENT_ACQUAINTANCE_REQUEST = -1 %>


    <%

      // CHECKING WHETHER CURRENT USER IS EXPLORED USER'S FRIEND OR NOT

      currentUser.friends.forEach(function(friendId){
        if(friendId.toString() == foundUser._id.toString()){
          FRIEND = 1
        }
      })

      // CHECKING WHETHER EXPLORED USER IS URRENT USER'S ACQUAINTANCE OR NOT

      currentUser.acquaintances.forEach(function(acquaintanceId){
        if(acquaintanceId.toString() == foundUser._id.toString()){
          ACQUAINTANCE = 1
        }
      })

      // CHECKING WHETHER THE CURRENT USER HAS ALREADY GOT EXPLORED USER'S FRIEND REQUEST WHICH IS NOT ACCEPTED YET

      currentUser.friend_requests.forEach(function(friendId){
        if(friendId.toString() == foundUser._id.toString()){
          FRIEND_REQUEST = 1
        }
      })

      // CHECKING WHETHER THE CURRENT USER HAS ALREADY GOT EXPLORED USER'S ACQUAINTANCE REQUEST WHICH IS NOT ACCEPTED YET

      currentUser.acquaintance_requests.forEach(function(acquaintanceId){
        if(acquaintanceId.toString() == foundUser._id.toString()){
          ACQUAINTANCE_REQUEST = 1
        }
      })

      // CHECKING WHETHER THE CURRENT USER HAS ALREADY SENT FRIEND REQUEST TO EXPLORED USER WHICH IS NOT ACCEPTED YET

      currentUser.sent_friend_requests.forEach(function(friendId){
        if(friendId.toString() == foundUser._id.toString()){
          SENT_FRIEND_REQUEST = 1
        }
      })

      // CHECKING WHETHER THE CURRENT USER HAS ALREADY SENT ACQUAINTANCE REQUEST TO EXPLORED USER WHICH IS NOT ACCEPTED YET

      currentUser.sent_acquaintance_requests.forEach(function(acquaintanceId){
        if(acquaintanceId.toString() == foundUser._id.toString()){
          SENT_ACQUAINTANCE_REQUEST = 1
        }
      })


    %>









    <div class="middle-row-section">

      <div class="left-nav">
        <div class="left-nav-item">
          <%if(FRIEND == 1){%>
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/remove-friend">Remove Friend</a>
          <%} else if(ACQUAINTANCE == 1) {%>
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/remove-friend">Remove Acquaintance</a>
          <%} else if(FRIEND_REQUEST == 1 || ACQUAINTANCE_REQUEST == 1) {%>

            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/confirm-request/friend">Confirm as Friend</a>
            </div>
            <div class="left-nav-item">
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/confirm-request/acquaintance">Confirm as Acquaintance</a>

          <%} else if (SENT_FRIEND_REQUEST == 1) {%>
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/cancel-friend-request">Cancel Friend Request</a>
          <%} else if(SENT_ACQUAINTANCE_REQUEST == 1) {%>
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/cancel-acquaintance-request">Cancel Acquaintance Request</a>
          <%} else {%>
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/send-friend-request">Send Friend Request</a>
          </div>
          <div class="left-nav-item">
            <a href="/<%=currentUser._id%>/explore/<%=foundUser._id%>/send-acquaintance-request">Send Acquaintance Request</a>
          <%}%>
        </div>
      </div>


      <div class="main-section">
        <%foundPipes.forEach(function(Pipe){%>
            <div class="main-section-item">
              <div class="main-section-item-author main-section-subitem"><%=Pipe.activity_caption%></div>
              <div class="main-section-item-author main-section-subitem"><a href="#"><%=Pipe.post.author.username%></a></div>
              <div class="main-section-item-post main-section-subitem"><%=Pipe.post.post%></div>

              <div class="main-section-item-post-image main-section-subitem">
                <%Pipe.post.images.forEach(function(Image, index){%>
                  <div class="main-section-item-post-image-subitem">
                    <a href="/<%=currentUser._id%>/post/<%=Pipe.post._id%>/image/<%=index%>"><img width=500px src="data:image/png;base64,<%=Image["base64"]%>"></a>
                  </div>
                <%})%>
              </div>

              <div class="main-section-item-qty-price-comments main-section-subitem">

                <% include ../partials/pipe_like %>

                <%if(Pipe.post["type_of_post"] == "inventory"){%>
                  <div class="main-section-item-qty-price-comments-subitem">Quantity: <span id="quantity"><%=Pipe.post.quantity%></span></div>
                  <div class="main-section-item-qty-price-comments-subitem">Price: <span id="price"><%=Pipe.post.price%></span></div>
                <%}%>
                <div class="main-section-item-qty-price-comments-subitem"><a href="/<%=currentUser._id%>/post/<%=Pipe.post._id%>/comment">Comments</a></div>
                <div class="main-section-item-qty-price-comments-subitem"><a href="/<%=currentUser._id%>/post/<%=Pipe.post._id%>/share">Share</a></div>

                <% include ../partials/pipe_enquire %>
                <% include ../partials/pipe_favourite %>

              </div>

              <%if(Pipe.post["type_of_post"] == "inventory"){%>
                <div class="main-section-item-block-form main-section-subitem">
                  <form action="/<%=currentUser._id%>/post/<%=Pipe.post._id%>/block" method="POST">
                    <div class="form-flex form-group">
                      <input class="form-flex-item form-control" type="text" name="quantity" placeholder="Enter quantity to Block">
                      <button class="form-flex-item btn btn-primary" style="background: black;">Block</button>
                    </div>
                  </form>
                </div>
              <%}%>


            </div>

          <%})%>
      </div>

      <div class="right-nav">

      </div>

    </div>

<% include ../partials/footer %>
