<% include ../partials/header %>

    <div class="below-nav-group-title">
      Replies on Comment
    </div>



    <div class="middle-row-section">

      <div class="left-nav">


      </div>

      <div class="main-section">


            <div class="main-section-item">
              <div class="main-section-item-author main-section-subitem"><a href="#"><%=foundPost.author.username%></a></div>
              <div class="main-section-item-post main-section-subitem"><%=foundPost.post%></div>

              <div class="main-section-item-post-image main-section-subitem">
                <%foundPost.images.forEach(function(Image, index){%>
                  <div class="main-section-item-post-image-subitem">
                    <a href="/<%=currentUser._id%>/post/<%=foundPost._id%>/image/<%=index%>"><img width=500px src="data:image/png;base64,<%=Image["base64"]%>"></a>
                  </div>
                <%})%>
              </div>

              <div class="main-section-item-qty-price-comments main-section-subitem">
                <%if(foundPost["type_of_post"] != "casual"){%>
                  <div class="main-section-item-qty-price-comments-subitem">Quantity: <span id="quantity"><%=foundPost.quantity%></span></div>
                  <div class="main-section-item-qty-price-comments-subitem">Price: <span id="price"><%=foundPost.price%></span></div>
                <%}%>
                <div class="main-section-item-qty-price-comments-subitem"><a href="/<%=currentUser._id%>/post/<%=foundPost._id%>/share">Share</a></div>
              </div>

              <%if(foundPost["type_of_post"] == "inventory"){%>
                <div class="main-section-item-block-form main-section-subitem">
                  <form action="/<%=currentUser._id%>/post/<%=foundPost._id%>/block" method="POST">
                    <div class="form-flex form-group">
                      <input class="form-flex-item form-control" type="text" name="quantity" placeholder="Enter quantity to Block">
                      <button class="form-flex-item btn btn-primary" style="background: black;">Block</button>
                    </div>
                  </form>
                </div>
              <%}%>


            </div>


            <div class="main-section-item ">
              <div style="text-align:center;">Comment</div>
              <div style="font-weight:bold;">
                <a href="#"><%=foundComment.author.username%></a>
              </div>
              <div>
                <%=foundComment.comment%>
              </div>

            </div>



            <div class="main-section-item" style="text-align:center">
              Replies
            </div>

            <div id="replies_section">

              <!-- DISPLAYING REPLIES OF THE COMMENT  -->
              <%foundComment.replies.forEach(function(Reply){%>
                <%if(Reply.author._id.toString() == currentUser._id.toString()){%>
                  <div class="main-section-item current-user-message">
                <%} else{%>
                  <div class="main-section-item">
                <%}%>
                  <div style="font-weight:bold;">
                    <a href="#"><%=Reply.author.username%></a>
                  </div>
                  <div>
                    <%=Reply.message%>
                  </div>

                </div>
              <%})%>

            </div>


            <!-- FORM TO SUBMIT REPLY -->
            <div class="main-section-item">

                <div class="form-group">
                  <label>New Reply</label>
                  <input type="text" class="form-control"  name="message" id="message" placeholder="Type Reply Here...">
                </div>

                <div style="text-align:center">
                  <button style="background:none;border:none">Submit</button>
                </div>

            </div>



      </div>

      <div class="right-nav">

      </div>

    </div>


    <div style="display:none" id="current_user_id"><%=currentUser._id%></div>
    <div style="display:none" id="current_user_name"><%=currentUser.username%></div>
    <div style="display:none" id="post_id"><%=foundPost._id%></div>
    <div style="display:none" id="comment_id"><%=foundComment._id%></div>

    <script type="text/javascript" src="/javascript/reply-replies.js"></script>


<% include ../partials/footer %>
