<% include ../partials/header %>



    <div class="below-nav-group-title">
      My Interests
    </div>



    <div class="middle-row-section">

      <div class="left-nav">


      </div>



      <div class="main-section">


        <%foundPosts.forEach(function(Post){%>
          <div class="main-section-item">

            <div class="main-section-item-author main-section-subitem"> Seller - <a href="#"><%=Post.seller.username%></a></div>
            <div class="main-section-item-post main-section-subitem"><%=Post.post%></div>

            <div class="main-section-item-post-image main-section-subitem">
              <%Post.images.forEach(function(Image, index){%>
                <div class="main-section-item-post-image-subitem">
                  <a href="/<%=currentUser._id%>/post/<%=Post._id%>/image/<%=index%>"><img width=500px src="data:image/png;base64,<%=Image["base64"]%>"></a>
                </div>
              <%})%>
            </div>

            <div class="main-section-item-qty-price-comments main-section-subitem">

              <div class="main-section-item-qty-price-comments-subitem">Quantity: <span id="quantity"><%=Post.quantity%></span></div>
              <div class="main-section-item-qty-price-comments-subitem">Price: <span id="price"><%=Post.price%></span></div>
              <div class="main-section-item-qty-price-comments-subitem"><a href="/<%=currentUser._id%>/post/<%=Post._id%>/comment">Comments</a></div>

            </div>



          </div>

        <%})%>
      </div>

      <div class="right-nav">

      </div>

    </div>


    <div style="display:none;" id="current_user_id"><%=currentUser._id%></div>

    <script type="text/javascript" src="/javascript/interest-my_interests.js"></script>

<% include ../partials/footer %>
